body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #ddd;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* Layout */
  .container {
    display: flex;
    height: calc(100vh - 50px);
  }
  
  /* Top Navigation */
  .top-nav {
    display: flex;
    padding: 10px;
    background-color: #444;
  }
  button {
    background-color: #555;
    border: none;
    color: #ddd;
    padding: 8px 15px;
    margin-right: 10px;
  }
  button.active {
    background-color: #222;
    color: #fff;
  }
  input[type="search"] {
    margin-left: auto;
    padding: 5px 10px;
    background-color: #555;
    color: #ddd;
    border-radius: 4px;
    border: none;
  }
  
  /* Sidebar */
  .sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
    overflow-y: auto;
  }
  /* Sidebar Scrollbar */
.sidebar::-webkit-scrollbar {
  width: 16px;
}

.sidebar::-webkit-scrollbar-track {
  background: #333; /* Match the sidebar background */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #555; /* Darker gray for the thumb */
  border-radius: 4px;
  border: 2px solid #333; /* Adds a slight margin to the thumb */
}

  .sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    display: flex; /* Enables flexbox */
    align-items: center; /* Centers content vertically */
    margin: 0;
    color: #ddd;
    cursor: pointer;
    padding: 8px;
}

.sidebar li img {
    width: 20px; /* Adjust icon size */
    height: 20px;
    margin-top: 8px;
    margin-right: 8px;
}

.sidebar li.active {
    background-color: #222; /* Darker background for active item */
    color: #fff;
    padding: 8px;
    border-radius: 4px;
}

.sidebar li:hover:not(.active) {
    color: #fff;
    background-color: #444;
}
  
  /* Grid View */
  .grid-view {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
    overflow-y: auto;
    background-color: #222;
}

/* Grid View Scrollbar */
.grid-view::-webkit-scrollbar {
    width: 16px;
}

.grid-view::-webkit-scrollbar-track {
    background: #222; /* Match the grid view background */
}

.grid-view::-webkit-scrollbar-thumb {
    background-color: #555; /* Darker gray for the thumb */
    border-radius: 4px;
    border: 2px solid #222; /* Adds a slight margin to the thumb */
}
  .grid-item {
    text-align: center;
    color: #ddd;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 8px;
  }
  h3 {
    font-size: 14px;
    margin: 0;
  }
  